@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    color: white;
}

body {
    display: flex;
    background: rgba(0, 0, 0, 0.86);
    color: white;
}

h1 {
    text-align: center;
}


#HeadLine {

    margin-top: 5vh;
    font-size: 36pt;
    font-weight: bold;

    background-color: transparent;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    text-align: center;


}

#NoteBody {

    font-size: 14pt;
    margin-left: 5vh;
    flex-grow: 1;
    background-color: transparent;
    border: transparent;

}

#Note {
    display: flex;
    flex-direction: column;
    horiz-align: right;
    width: 70%;
    min-height: 100vh;
    max-height: 100%;

}

#Idonotknow0 {
    display: none;
}

#NoteList {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    background: rgba(128, 128, 128, 0.6);

    min-height: 100vh;
    max-height: 100%;
    max-width: 100%;
}

.ShortcutNote {
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
    border-bottom: 2px solid;
    margin-top: 0;
    height: auto;

    width: auto;

}

.ShortcutNote h1 {

    grid-column: 1/5;
    grid-row: 1;


}

.ShortcutNote h1:hover {
    background: rgba(133, 132, 227, 0.8);
}

.ShortcutNote h2 {
    font-size: 14pt;
    grid-column: 1/4;
    grid-row: 2;
    margin-left: 2vh;


}

.ShortcutNote h3 {
    font-size: 14pt;
    grid-column: 4/6;
    grid-row: 2;
    margin-right: 2vh;
    color: black;
    font-weight: normal;
}

#AddButton {
    font-size: 12pt;
    width: 100%;
    color: green;
}

.deleteButton {
    grid-column: 5;
    grid-row: 1;

    border: transparent;


    background-size: cover;
    background: url(DeleteIcon.svg) no-repeat center center;
}

.deleteButton:hover {
    background-color: rgba(229, 32, 32, 0.8);
}


#date {
    text-align: center;
    color: gray;
}